.products-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
}
.product-in-cart {
  width: 30%;
}

.image-in-cart {
  width: 70%;
  height: 60%;
}
.cart-details {
  display: flex;
  justify-content: center;
}
.change-quantity-button {
  margin: 4%;
}

.continue-shopping {
  background-color: #b28c63;
  font-size: 110%;
}
