.products-container {
  display: flex;
  flex-wrap: wrap;
}
.product-in-cart {
  width: 30%;
}

.image-in-cart {
  width: 80%;
}
.cart-details {
  display: flex;
  justify-content: center;
}
.change-quantity-button {
  margin: 4%;
}