.product-container {
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  width: 90%;
  height: 70%;
}

.category-button {
  margin: 2%;
  width: 15%;
  background-color: #b28c63;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
}

.product {
  background-color: #ecebe9;
  margin: 1%;
  padding: 2%;
  width: 27%;
  position: relative;
}
.product:before,
.product:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.product:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
