.single-product {
  display: flex;
  margin: 5%;
  justify-content: center;
}

.description {
  margin: 5%;
  width: 40%;
}
.details-image {
  width: 300px;
}

.go-back{
  background-color: #b28c63;
  color: white;
  margin: 5% 40%;
}
